.container {
  min-height: calc(100vh - 18vh - 60px - 2rem - 7px);
  margin: 1rem 0;
  a {
    color: black;
    text-decoration: none;
    font-family: 'twayair';
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.innerContainer {
  width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.orderBy {
  width: 100%;
  margin: 0;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  select {
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    color: black;
  }
}
