.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  tbody {
    tr {
      background-color: white;
      cursor: pointer;
      border-bottom: 1px solid #d3d3d3;
    }
  }
  th,
  td {
    padding: .75rem 0;
    text-align: center;
    word-break: break-all;
    font-size: calc(.5rem + 1vmin);
  }
  th:nth-of-type(2), td:nth-of-type(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
  }
  td:nth-of-type(2) > span {
    color: gray;
  }
  thead {
    background-color: #DDF7EC;
  }
}
