.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.input {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
.input::-webkit-inner-spin-button, 
.input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
