.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #90E2D6;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  flex: 1;
  & > form {
    display: flex;
    & > input {
      flex: 1;
      border: none;
      background-color: inherit;
    }
    & > button {
      border: none;
      border-radius: .25rem;
      padding: .5rem;
      color: black;
      cursor: pointer;
    }
  }
}
