.comment {
  display: flex;
  img {
    margin: 4px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    @media screen and (max-width: 480px) {
      margin: 4px;
      width: 45px;
      height: 45px;
    }
  }
  & > div {
    flex: 1;
    margin: 0 0.5rem;
    font-size: 85%;
    & > div {
      @media screen and (max-width: 480px) {
        font-size: 3.5vw;
        p {
          font-size: 1vw;
        }
      }
    }
    & > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.5rem;
      & > p {
        margin: 0;
      }
      & > p:nth-of-type(2) {
        color: #90e2d6;
        border: 2px solid #90e2d6;
        border-radius: 1rem;
        padding: 0 1rem;
      }
    }
    & > div:nth-of-type(3) {
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 480px) {
        gap: 8px;
      }
      p {
        margin: 0.5rem 0;
        font-size: 80%;
      }
      .reply {
        cursor: pointer;
      }
    }
  }
}

.comment .action-button {
  border: none;
  background: inherit;
  cursor: pointer;
  &:hover {
    color: lightgray;
  }
}

.profileImage {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.likeButton {
  padding: 1px 6px;
  margin: auto 0;
  display: flex;
  border: 0.5px solid lightgray;
  border-radius: 3px;
  background-color: white;
  color: gray;
  cursor: pointer;
  &:hover {
    color: indianred;
    background-color: white;
  }
  & > svg {
    display: block;
    margin: auto;
    margin-right: 4px;
    width: 11px;
    height: 11px;
  }
}

.like {
  color: black;
  background-color: rgba(211, 47, 47, 0.076);
  border-color: rgba(211, 47, 47, 0.178);
  svg {
    color: rgb(211, 47, 47);
  }
}

.commentText {
  word-break: break-all;
}
