.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  height: 30vh;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 1em;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  h1 {
    font-family: 'twayair';
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 300%;
  }
  p {
    font-family: 'twayair';
    font-size: 150%;
    margin-bottom: 0;
  }
}

.population {
  display: relative;
  margin-top: 1.2em;
  max-height: 40%;
  width: 100%;
  height: 100%;
  text {
    font-size: 80% !important;
  }
  svg {
    & > g:nth-of-type(1) {
      & > g:nth-of-type(3) {
        rect {
          fill: #ff7e79;
        }
      }
      & > g:nth-of-type(4) {
        rect {
          fill: #03b0c0;
        }
      }
    }
  }
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  svg {
    width: 100%;
    height: 70%;
  }
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  img {
    border-radius: 16px;
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .desc {
    h1 {
      font-size: 250%;
    }
    p {
      font-size: 150%;
    }
  }
  .imgContainer {
    height: 100%;
    img {
      height: 80%;
    }
    svg {
      height: 50%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .desc {
    margin-top: 7%;
    h1 {
      font-size: 130%;
    }
    p {
      font-size: 90%;
    }
  }
  .imgContainer {
    img {
      height: 50%;
    }
  }
}
