@import '../Manager/Members.module.scss';

.intro {
  border-width: 90%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
  span {
    font-family: 'twayair';
    margin-bottom: 1em;
    font-size: 200%;
  }
  p {
    font-size: 16px;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
}

.intro button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid $color1;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    filter: brightness(90%);
  }
  svg {
    margin-right: 5px;
  }
}

.desc {
  margin-bottom: 1em;
  & > div:nth-of-type(1) {
    & > div:nth-of-type(1) {
      display: flex;
      border: 1px solid;
      justify-content: space-between;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      span {
        margin: 0;
      }
      & > div:nth-of-type(1) {
        padding: 0;
      }
    }
    & > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      min-height: 15vh;
      & > div:nth-of-type(1) {
        padding: 10px;
      }
    }
  }
}

.bubble {
  border: none !important;
  & > div:nth-of-type(1) {
    display: none !important;
  }
  & > div:nth-of-type(2) {
    border: none !important;
    & > div:nth-of-type(1) {
      padding: 0 !important;
    }
  }
}

@media (max-width: 768px) {
  .intro {
    width: 90%;
    span {
      font-size: 150%;
    }
    p {
      font-size: 90%;
    }
  }
}
