@import '../Manager/Members.module.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    display: none;
  }
  label {
    cursor: pointer;
    padding: 3px 5px;
    border: 1px solid rgb(225, 225, 225);
    color: black;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    font-size: 50%;
  }
  label:hover {
    transition: 0.3s;
    filter: brightness(95%);
  }
  label:active {
    transition: 0.1s;
    filter: brightness(100%);
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: -2.5em;
  }
}
