.container {
  position: sticky;
  top: 0;
  z-index: 999;
}

.myHeader {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  background-color: #ffffff;
  align-items: center;
  color: black;
  border-bottom: 0.1px solid #e9e9e9;
  img {
    width: 81px;
    height: 36px;
    object-fit: cover;
    margin-right: 20rem;
    cursor: pointer;
  }
  & > div:nth-of-type(1) {
    display: none;
  }
  .topMenu {
    display: flex;
    justify-content: space-between;
  }
  .menus {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    padding-left: 0;
    .mobile {
      display: none;
    }
  }
  li:hover {
    color: #3fcdb8;
  }
}
.tokenIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
  svg {
    cursor: pointer;
    font-size: 135%;
  }
  .profileWrap {
    .userProflie {
      padding: 0 5px;
      padding-top: 5px;
      margin-right: -22px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
      &:active {
        transform: scale(1);
      }
    }
    .Profile {
      margin-right: -18px;
      margin-left: 8px;
      width: 25px;
      height: 25px;
      transform: translateY(8%);
      color: rgb(172, 172, 172);
      &:hover {
        transform: scale(1.15);
        transition: 0.5s;
      }
      &:active {
        transform: scale(1);
      }
    }
  }
}

.count {
  z-index: 99;
  display: flex;
  position: absolute;
  bottom: 23px;
  left: 23px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  color: white;
  width: 30%;
  height: 30%;
  padding: 3px;
}

.messagecount {
  z-index: 99;
  display: flex;
  position: absolute;
  bottom: 18px;
  left: 23px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  color: white;
  width: 43%;
  height: 43%;
  padding: 3px;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition-duration: 1s;
  -webkit-transition-duration: 0.4s; /* Safari */
  svg {
    width: 25px;
    height: 25px;
  }
}

.bell:hover {
  background-color: rgb(230, 230, 230);
}

.bell:active:after {
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
}

.bell::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgb(225, 225, 225);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 1.5em;
  border-radius: 50%;
  padding: 5px;
  transition-duration: 1s;
  -webkit-transition-duration: 0.4s; /* Safari */
  svg {
    width: 25px;
    height: 25px;
  }
}

.message:hover {
  background-color: rgb(230, 230, 230);
}

.message:active:after {
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
}

.message::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgb(225, 225, 225);
}

@media screen and (max-width: 1024px) {
  .myHeader {
    .topMenu {
      .menus {
        width: 20vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .myHeader {
      img {
        position: absolute;
        left: 25px;
      }
      & > div:nth-of-type(1) {
        display: inline;
        position: absolute !important;
        right: 35px;
      }
      .topMenu {
        flex-direction: column-reverse;
        position: fixed;
        top: 60px;
        right: 0;
        width: 30%;
      }
      .menus {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100vh;
      }
      .users {
        margin: 0;
      }
      li {
        cursor: pointer;
      }
      .tokenIcons {
        width: 100%;
        margin: 0;
        padding: 4.2rem 0rem;
        justify-content: space-evenly;
        img {
          position: static;
        }
        .bell {
          margin: 0%;
          width: 33px;
          height: 33px;
        }
        .userProflie {
          margin: 0%;
          width: 33px;
          height: 33px;
        }
        .Profile {
          margin: 0%;
          width: 33px;
          height: 33px;
        }
      }
      #show {
        display: flex;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.215);
        background-color: #ffffff;
      }
      #hide {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .myHeader {
      & > div:nth-of-type(1) {
        right: 25px;
      }
      .topMenu {
        width: 45%;
      }
      .tokenIcons {
        .bell {
          width: 27px;
          height: 27px;
        }
        .userProflie {
          margin: 0%;
          width: 30px;
          height: 30px;
        }
        .Profile {
          width: 27px;
          height: 27px;
        }
      }
    }
  }
}
