.container {
  font-size: 80%;
  margin-left: 10%;
  .user {
    display: flex;
    padding-left: 0;
    align-items: center;
    text-align: center;
    list-style: none;
    li {
      cursor: pointer;
    }
    .login {
      line-height: 32px;
    }
    .signUp {
      width: 70px;
      height: 32px;
      border-radius: 8px;
      background-color: #90e2d6;
      text-align: center;
      line-height: 31.5px;
      margin-left: 1em;
    }
    #nowSign {
      color: #fff;
    }
  }
}

#now {
  color: #3fcdb8;
}

@media screen and (max-width: 1024px) {
  .container {
    ul {
      font-size: 90%;
      padding: 0%;
    }
    .user {
      .signUp {
        width: 8vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    font-size: 95%;
    padding: 3.5rem 1rem;
    .user {
      justify-content: space-around;
      .login {
        padding-left: 0.7rem;
      }
      .signUp {
        margin: 0;
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    font-size: 85%;
    padding: 3.5rem 0.2rem;
    .user {
      .login {
        padding-left: 0.5rem;
      }
    }
  }
}
