.container {
  font-size: 85%;
  ul {
    width: 215px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    cursor: pointer;
  }
  .dropdown {
    text-align: center;
    position: relative;
    &:hover {
      .dropdownMenu {
        display: block;
        color: black;
      }
    }
    .dropdownMenu {
      width: 7vw;
      padding: 16px;
      margin-left: -3.3vw;
      list-style-type: none;
      position: absolute;
      min-width: 50px;
      box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 10px;
      display: none;
    }
    .notice {
      margin-top: 1vh;
      margin-bottom: 3vh;
    }
  }
}

#now {
  color: #3fcdb8;
}

@media screen and (max-width: 1024px) {
  .container {
    ul {
      font-size: 90%;
      padding: 0%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: inline;
    width: 79%;
    ul {
      flex-direction: column;
      align-items: center;
      margin: 0;
      font-size: 110%;
      width: 100%;
    }
    li {
      padding: 1.5rem;
      width: 100%;
      text-align: center;
      border-bottom: 0.1px solid #dddbdb;
      &:hover {
        background-color: #bfe7e17e;
        color: black;
      }
    }
    .dropdown {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 70%;
    ul {
      font-size: 100%;
    }
  }
}
