.container {
  font-size: 1.1vw;
  ul {
    width: 17vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    cursor: pointer;
  }
  .dropdown {
    text-align: center;
    position: relative;
    &:hover {
      .dropdownMenu {
        display: block;
        color: black;
      }
    }
    .dropdownMenu {
      width: 7vw;
      padding: 16px;
      margin-left: -3.3vw;
      list-style-type: none;
      position: absolute;
      min-width: 50px;
      box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 10px;
      display: none;
    }
    .notice {
      margin-top: 1vh;
      margin-bottom: 3vh;
    }
  }
}

#now {
  color: #3fcdb8;
}

@media screen and (max-width: 768px) {
  .container {
    ul {
      flex-direction: column;
      width: 30vw;
      font-size: 2.2vw;
      padding: 0%;
    }
    li {
      width: 100%;
      text-align: center;
    }
    .dropdown {
      display: none;
    }
  }
}
