.container 
   width: 20vw;
   height: 40vh;
   margin-right: 40px;
   margin-bottom: 30px;
   background-color: white;
   overflow: hidden;
   border: solid;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .img 
       width: 100%;
       height: 100%;
       text-align: center;
       border: solid;
    
   .clubdata 
       display: flex;
       flex-direction: column;
       align-items: center;

   