.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #c4c4c49f;
  .info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    .arrow {
      flex: 1;
      span {
        font-size: 14px;
        padding: 3px;
        border-radius: 8px;
      }
      .send {
        background-color: #f5edb0b6;
        span {
          font-weight: bold;
        }
      }
      .recieve {
        background-color: #f0bf9a6b;
        span {
          font-weight: bold;
        }
      }
    }
    .indate {
      font-size: 8px;
      color: gray;
    }
  }
  .message {
    word-break: break-all;
    padding: 0.2rem 0.6rem;
    margin-bottom: 13px;
    .description {
      font-size: 12px;
      color: gray;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #a19d9d;

    .info {
      display: flex;
      align-items: center;
      .arrow {
        flex: 1;
        .rightArrow {
          color: green;
          margin-left: 15px;
        }
        .leftArrow {
          color: red;
          margin-left: 15px;
        }
      }
      .indate {
        font-size: 10px;
        color: gray;
        margin-right: 15px;
      }
    }
    .message {
      word-break: break-all;
      margin-bottom: 13px;
      margin-left: 15px;
      .description {
        font-size: 12px;
        color: gray;
      }
    }
  }
}
