.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .entireMessage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 18px;
    width: 25%;
    height: 85%;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 16px;
    .emptylettercontainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .header {
      width: 100%;
      position: sticky;
      top: 0;
      background-color: white;
      border-bottom: 0.5px solid #c4c4c49f;
      border-radius: 17px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      p {
        font-family: 'twayair';
        padding: 0.5rem 1rem;
        font-size: 20px;
      }
    }
    .body {
      height: 100%;
      overflow: auto;
    }
    .body::-webkit-scrollbar {
      width: 5px;
    }
    .body::-webkit-scrollbar-thumb {
      background-color: #9e9e9ed2;
      border-radius: 10px;
    }
  }
  .detailMessage {
    margin-top: 20px;
    width: 45%;
    height: 85%;

    border: 2px solid rgb(226, 226, 226);
    border-radius: 16px;
    .loadingcontainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .header {
      width: 100%;
      position: sticky;
      top: 0;

      background-color: white;
      border-radius: 18px;
      .contain {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.6rem 0rem;
        border-bottom: 0.5px solid #c4c4c49f;
        h3 {
          flex: 1;
          padding: 0rem 1.2rem;
        }
        .option {
          svg {
            margin-right: 19px;
            cursor: pointer;
          }
        }
      }
    }

    .body {
      height: 100%;
      max-height: 90%;
      overflow: auto;
    }
    .body::-webkit-scrollbar {
      width: 5px;
    }
    .body::-webkit-scrollbar-thumb {
      background-color: #9e9e9ed2;
      border-radius: 10px;
    }
  }
  .mobilecontainer {
    display: none;

    .mobileheader {
      display: none;
      width: 100%;
    }
    .mobile {
      display: none;
    }
  }
  .mobiledetailcontainer {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .entireMessage {
      display: none;
      flex-direction: column;
      margin-top: 20px;
      margin-right: 18px;
      width: 30%;
      height: 85%;

      overflow: auto;

      border-radius: 16px;
      .header {
        width: 100%;
        h2 {
          margin-left: 10px;
        }
      }
    }
    .detailMessage {
      display: none;
    }
    .mobilecontainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .emptylettercontainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .mobileheader {
        display: flex;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;
        h3 {
          margin-left: 15px;
        }
      }
      .mobile {
        display: flex;
      }
    }
    .mobiledetailcontainer {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      min-height: 100vh;
      .loadingcontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobiledetailheader {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;

        .contain {
          width: 100%;
          display: flex;
          align-items: center;
          svg {
            margin-left: 15px;
            cursor: pointer;
          }
          h3 {
            margin-left: 1em;
            flex: 1;
          }
          .option {
            svg {
              margin-right: 19px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    .entireMessage {
      display: none;
    }
    .detailMessage {
      display: none;
    }
    .mobilecontainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .emptylettercontainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .mobileheader {
        display: flex;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;
        h3 {
          margin-left: 15px;
        }
      }
      .mobile {
        display: flex;
      }
    }
    .mobiledetailcontainer {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      max-height: 100%;
      .loadingcontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobiledetailheader {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;

        .contain {
          width: 100%;
          display: flex;
          align-items: center;
          svg {
            margin-left: 15px;
            cursor: pointer;
          }
          h3 {
            margin-left: 1em;
            flex: 1;
          }
          .option {
            svg {
              margin-right: 19px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 100%;
    .entireMessage {
      display: none;
    }
    .detailMessage {
      display: none;
    }
    .mobilecontainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .emptylettercontainer {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .mobileheader {
        display: flex;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;
        h3 {
          margin-left: 15px;
        }
      }
      .mobile {
        display: flex;
      }
    }
    .mobiledetailcontainer {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      min-height: 100vh;
      .loadingcontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobiledetailheader {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;

        .contain {
          width: 100%;
          display: flex;
          align-items: center;
          svg {
            margin-left: 15px;
            cursor: pointer;
          }
          h3 {
            margin-left: 1em;
            flex: 1;
          }
          .option {
            svg {
              margin-right: 19px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
