.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .entireMessage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 18px;
    width: 20%;
    height: 85%;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    overflow: auto;
    border-radius: 16px;
    .header {
      width: 100%;
      position: sticky;
      top: 0;
      background-color: white;
      h2 {
        margin-left: 10px;
      }
    }
  }
  .detailMessage {
    margin-top: 20px;
    width: 43%;
    height: 80.5%;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    padding: 0.9rem;
    overflow: auto;
    .loadingcontainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: white;

      .contain {
        width: 100%;
        display: flex;
        align-items: center;
        h3 {
          flex: 1;
        }
        .option {
          svg {
            margin-right: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .mobilecontainer {
    display: none;

    .mobileheader {
      display: none;
      width: 100%;
    }
    .mobile {
      display: none;
    }
  }
  .mobiledetailcontainer {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .entireMessage {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-right: 18px;
      width: 30%;
      height: 85%;

      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
      overflow: auto;

      border-radius: 16px;
      .header {
        width: 100%;
        h2 {
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .entireMessage {
      display: none;
    }
    .detailMessage {
      display: none;
    }
    .mobilecontainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .mobileheader {
        display: flex;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;
        h3 {
          margin-left: 15px;
        }
      }
      .mobile {
        display: flex;
      }
    }
    .mobiledetailcontainer {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      height: 100%;

      .loadingcontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobiledetailheader {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;
        position: sticky;
        top: 0;
        background-color: white;

        .contain {
          width: 100%;
          display: flex;
          align-items: center;
          svg {
            margin-left: 15px;
            cursor: pointer;
          }
          h3 {
            margin-left: 1em;
            flex: 1;
          }
          .option {
            svg {
              margin-right: 19px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
