@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

.container {
  width: 100%;
  background-color: #fff;
  margin-top: 17%;
  h1 {
    font-size: 350%;
    font-weight: 100;
    padding: 2rem;
    margin-left: 13%;
    margin-bottom: 0px;
  }
  .list {
    display: flex;
    .club {
      margin-left: 20px;
      color: #3fcdb8;
    }
    .br {
      margin-left: 20px;
    }
  }
  .promotion {
    display: flex;
    .recruit {
      margin-left: 22px;
      color: #3fcdb8;
    }
    .br {
      margin-left: 20px;
    }
  }
  button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50%;
    font-weight: 800;
    width: 10em;
    margin-left: 75%;
    margin-bottom: 8%;
    zoom: 2.5;
    border-radius: 15px;
    border-style: hidden;
    background-color: #90e2d6;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #3fcdb8;
    }
  }
  .listBtn {
    margin-top: 0.5%;
  }
  .promotionBtn {
    margin-top: -1.5%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    h1 {
      margin-left: 7%;
    }
    button {
      margin-left: 80%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin-top: 28%;
    h1 {
      font-size: 269%;
      margin-left: 5%;
      padding: 0%;
      padding-left: 10%;
      margin-right: -25%;
    }
    .list {
      width: 100%;
      .club {
        margin-left: 2%;
      }
      .br {
        margin-top: 12%;
        margin-left: -375px;
      }
    }
    .listBtn {
      width: 9vw;
      margin-top: -10%;
      margin-left: 85%;
    }
    .promotion {
      margin-left: 3%;
      margin-top: 15%;
      .recruit {
        margin-left: 15px;
      }
      .br {
        margin-top: 12%;
        margin-left: -402px;
      }
    }
    .promotionBtn {
      width: 9vw;
      margin-top: 5%;
      margin-left: 85%;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    h1 {
      font-size: 180%;
      padding: 0 5vw;
    }
    .list {
      .br {
        margin-top: 18%;
        margin-left: -250px;
      }
    }
    .promotion {
      margin-top: 25%;
      .recruit {
        margin-left: 10px;
      }
      .br {
        margin-top: 16%;
        margin-left: -268px;
      }
    }
    .listBtn {
      width: 9em;
      height: 1.3rem;
      font-weight: 600;
      zoom: 1.3;
      margin-left: 85%;
    }
    .promotionBtn {
      width: 9em;
      height: 1.3rem;
      font-weight: 600;
      zoom: 1.3;
      margin-left: 85%;
      margin-top: 5%;
    }
  }
}
