.wrap {
  width: 100%;
  background-color: #fff;
  margin-top: 2%;
  h1 {
    font-size: 2.5rem;
    font-weight: 200;
    padding: 2rem;
    margin-left: 3%;
    margin-bottom: 0px;
  }
  .imgs {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 3%;
    margin-bottom: 15%;
    gap: 6%;
    .list {
      display: flex;
      flex-direction: column;
      img {
        box-shadow: 1px 1px 6px 4px #F5EDB0;
      }
      span {
        margin-top: 8%;
        width: 300px;
        text-align: center;
      }
      &:hover {
        margin-top: -2%
      }
    }
    .promotion {
      @extend .list;
      img {
        box-shadow: 1px 1px 6px 4px #F0BF9A;
      }
    }
    .home {
      @extend .list;
      img {
        box-shadow: 1px 1px 6px 4px #C2F2DC;
      }
    }
  }
  img {
    width: 310px;
    height: 310px;
    border-radius: 70%;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    width: 100%;
    h1 {
      padding-left: 0%;
    }
    .imgs {
      width: 100%;
      .list {
        width: 100%;
        align-items: center;
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap{
    width: 100%;
    h1 {
      padding-left: 0%;
    }
    .imgs {
      width: 100%;
      margin-top: 0%;
      gap: 0%;
      margin-left: 6%;
      .list {
        width: 100%;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}


// @media screen and (max-width: 768px) {
//   .wrap {
//     width: 100%;
//     margin-top: 12%;
//     h1 {
//       width: 88%;
//       text-align: center;
//     }
//     .imgs {
//       display: flex;
//       flex-direction: column;
//       margin-left: 5px;
//       .list {
//         width: 100%;
//         align-items: center;
//         zoom: 1.1;
//         pointer-events: none;
//         span {
//           margin-top: 25px;
//         }
//       }
//       .promotion {
//         margin-top: 120px;
//         zoom: 1.1;
//         pointer-events: none;
//         span {
//           margin-top: 25px;
//         }
//       }
//       .home {
//         margin-top: 120px;
//         zoom: 1.1;
//         pointer-events: none;
//         span {
//           margin-top: 25px;
//         }
//       }
//     }
//   }
// }