.wrap {
  width: 100%;
  background-color: #fff;
  margin-top: 5%;
  h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 3vw;
    font-weight: 200;
    padding: 2rem;
    margin-left: 1.5%;
    margin-bottom: 0px;
  }
  .imgs {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin-top: 2%;
    margin-bottom: 15%;
    gap: 6%;
    .list {
      display: flex;
      flex-direction: column;
      img {
        border: 0.35vw solid #f5edb0;
        width: 280px;
        height: 280px;
        // box-shadow: 1px 1px 6px 4px #F5EDB0;
      }
      span {
        font-family: "Noto Sans KR", sans-serif;
        // font-weight: 200;
        margin-top: 8%;
        text-align: center;
      }
      &:hover {
        margin-top: -2%;
      }
    }
    .promotion {
      @extend .list;
      img {
        border: 0.35vw solid #f0bf9a;
        // box-shadow: 1px 1px 6px 4px #F0BF9A;
      }
    }
    .home {
      @extend .list;
      img {
        border: 0.35vw solid #c2f2dc;
        // box-shadow: 1px 1px 6px 4px #C2F2DC;
      }
    }
  }
  img {
    width: 25vw;
    height: 25vw;
    border-radius: 70%;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    margin-top: 5%;
    h1 {
      font-size: 3.5vw;
      width: 70%;
      margin: 0%;
    }
    .imgs {
      width: 95%;
      margin-top: 0%;
      gap: 0%;
      padding-left: 5%;
      .list {
        width: 100%;
        span {
          font-size: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    h1 {
      width: 100%;
      font-size: 6vw;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .imgs {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      .list {
        width: 100%;
        align-items: center;
        pointer-events: none;
        margin-top: 5%;
        span {
          width: 100%;
          margin-top: 25px;
        }
      }
      .promotion {
        margin-top: 10vh;
        pointer-events: none;
        span {
          margin-top: 25px;
        }
      }
      .home {
        margin-top: 10vh;
        pointer-events: none;
        span {
          margin-top: 25px;
        }
      }
    }
    img {
      zoom: 2.1;
    }
  }
}
