@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 100%;
    }
}

