.wrap {
  width: 100%;
  background-color: #fff;
  padding-top: 10%;
  padding-bottom: 13%;
  display: flex;
  justify-content: center;
  img {
    width: 280px;
    height: 280px;
    border-radius: 70%;
    overflow: hidden;
    margin-left: 20%;
  }
  .text {
    padding: 1.5rem 4rem;
    margin-top: 3%;
    margin-left: 10%;
    h1 {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    padding-top: 25%;
    padding-bottom: 22%;
    img {
      margin-top: 2%;
      width: 170px;
      height: 170px;
    }
    .text {
      font-size: 60%;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 66%;
    img {
      margin: 0%;
      margin-top: 180%;
    }
    .text {
      width: 100%;
      text-align: center;
      font-size: 3vw;
      padding: 0%;
      margin: 0%;
      margin-top: 10%;
      h1 {
        font-size: 5.5vw;
      }
    }
  }
}
