.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;

  h1 {
    color: #c8d89a98;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 6.2rem;
    padding: 2rem;
    text-transform: uppercase;
  }
}
