@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

.container {
  width: 100%;
  background-color: #fff;
  h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 440%;
    padding: 2rem;
    margin: 0% 10% -1.5% 12%;
    .title {
      font-family: 'Noto Sans KR', sans-serif;
      display: flex;
      flex-direction: row;
      .logo {
        font-family: 'Noto Sans KR', sans-serif;
        color: #3fcdb8;
      }
    }
  }
  span {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2rem;
    margin-left: 12.2%;
    margin-bottom: 30%;
  }
  img {
    width: 550px;
    margin-top: -50%;
    margin-left: 48%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
    margin: 0%;
    h1 {
      margin-left: 11%;
    }
    span {
      margin-left: 11%;
    }
    img {
      width: 55%;
      margin-left: 62%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 5%;
    h1 {
      font-size: 430%;
      padding: 1rem;
    }
    span {
      margin-left: 9.5%;
    }
    img {
      width: 80%;
      margin-top: 13%;
      margin-left: 10%;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    h1 {
      width: 80%;
      font-size: 270%;
      margin-left: 9%;
    }
    span {
      font-size: 2vw;
      margin-left: 5%;
    }
    img {
      margin-left: 9%;
    }
  }
}
