.wrap {
  text-align: center;
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .num {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90%;
    width: 60%;
    height: 3.3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    border-radius: 0px;
    outline-style: none;
  }
  .email {
    @extend .num;
    margin-bottom: 0%;
  }
}
