.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  input {
    height: 2rem;
    width: 20vw;
    margin-bottom: 2vh;
  }
  button {
    width: 10%;
  }
}
