html,
body {
  margin: 0;
}

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.toTheTop {
  text-align: center;
  position: fixed;
  right: 10%;
  bottom: 20%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  p {
    margin: 0;
  }
}

* {
  font-family: 'twayair';
}
