.container {
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  // padding: 10vh 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
  & > div {
    flex: 1;
    padding: 1rem;
    border: 2px solid #90e2d6;
    border-radius: 1rem;
  }
}
