.container {
  width: 60%;
  min-height: calc(82vh - 60px - 18px);
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
  & > div {
    flex: 1;
    padding: 1rem;
    border: 2px solid #90e2d6;
    border-radius: 1rem;
  }
}
