.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
 & > label {
   display: block;
   text-align: center;
   max-height: 70%;
   max-width: 100%;
   & > img {
     height: 70%;
     max-width: 100%;
   }
 }
 & > input {
   display: none;
 }
 & > select {
  border-radius: 1rem;
  height: 2rem;
  padding-left: 1rem;
  border: 1px solid lightgray;
 }
 & > button {
  width: 5rem;
  margin: 0 auto;
  border: 2px solid #90E2D6;
  color: #90E2D6;
  background-color: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
}
