.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
 & > label {
   text-align: center;
   & > img {
     max-width: 50%;
     @media screen and (max-width: 768px) {
     max-width: 100%;
     }
   }
 }
 & > input {
   display: none;
 }
 .selectContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  & > select {
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    border: 1px solid lightgray;
   }
}
 & > button {
  width: 5rem;
  margin: 0 auto;
  border: 2px solid #90E2D6;
  color: #90E2D6;
  background-color: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  }
}
