.container {
  width: 90%;
  margin: 0 auto;
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
  }
  & > div {
    margin: 10px 0;
  }
  button {
    float: right;
  }
}
