.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 40vh;
  margin: 0 auto;
  margin-top: 10vh;
  border: 1px solid black;
}

.container h1 {
  font-weight: 100;
  font-size: 6rem;
  margin: 0;
  padding: 2rem;
  animation-delay: 1s;
}
