$color-mint: #90e2d6;
$color-heavy-mint: #3fcdb8;
$color-light-mint: #c2f2dc;

.container {
  display: flex;
  flex-direction: column;
  margin: 5px 0 10px 0;
  width: 100%;
}

#clubName {
  font-size: 200%;

  text-align: center;
}

#add {
  height: 5vh;
  text-align: right;
  svg {
    position: fixed;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    &:hover {
      color: $color-heavy-mint;
    }
  }
}

.activities {
  display: flex;
  margin-top: 13px;
  width: 100%;
  min-height: calc(70vh - 60px);
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
  }
}
