.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clubdata {
  width: 100%;
  background-color: #96e0ac;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  h4 {
    margin: 0;
  }
}
.img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  cursor: pointer;
}
