.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    list-style: none;

    li {
      cursor: pointer;
      background-color: #f1f3f5;
      border-radius: 15px;
      padding: 0.8rem 1.5rem;
      font-size: 16px;
      font-family: 'twayair';
      margin-right: 6px;

      &:hover {
        filter: brightness(96%);
        // background-color: #ced4da;
      }
    }
  }

  .searchContainer {
    margin: 0% 5%;
    margin-top: 30px;

    width: 35vw;
    height: 50px;
    border: solid #c2f2dc;
    border-radius: 60px;
    .searchElement {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: row;
      align-items: center;

      input {
        border: none;
        width: 90%;
        height: 90%;
        margin-left: 20px;
        font-size: 15px;
        font-family: 'twayair';

        outline: none;
      }
      svg {
        border-left: solid black;
        width: 10%;
        font-size: 1.2rem;
      }
    }
  }

  .writeBtn {
    // position: absolute;
    // right: 20%;
    // top: 20%;
    // padding: 8px;
    width: 7em;
    height: 2.5rem;
    // font-size: 6px;
    // display: flex;
    // align-items: center;
    // border: none;
    // background: #c2f2dc;
    // cursor: pointer;
    background: white;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    cursor: pointer;
    color: black;
    // padding: 0.2rem 2rem;
    &:hover {
      filter: brightness(98%);
      // background: #3fcdb8;
    }
  }
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 1rem;
    ul {
      li {
        padding: 0.8rem 1.1rem;
        font-size: 15px;
        margin-right: 6px;

        &:hover {
          filter: brightness(96%);
          // background-color: #ced4da;
        }
      }
    }
    .searchContainer {
      width: 100%;
      margin-top: 30px;
      .searchElement {
        svg {
          border-left: solid black;
          padding-left: 4px;
          padding-right: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
    .searchContainer {
      width: 50vw;
      margin-top: 30px;
      .searchElement {
        svg {
          border-left: solid black;
          padding-left: 4px;
          padding-right: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

// @media screen and (max-width: 580px) {
//   .container {
//     .tagList {
//       li {
//         width: 13vw;
//         margin: 10px;
//         font-size: 20px;
//       }
//     }
//   }
// }

@media screen and (max-width: 480px) {
  .container {
    ul {
      padding: 0%;
      margin-top: 0%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        padding: 10px;
        margin: 5px;
        width: 20%;
        text-align: center;
        font-size: 12px;
      }
    }

    .searchContainer {
      width: 70%;
      height: 38px;
      margin: 5px;
      svg {
        width: 1rem;
        margin-right: 5px;
      }
    }
  }
  // .container {
  //   select {
  //     margin-top: 10px;
  //     border-radius: 1rem;
  //     height: 2rem;
  //     padding: 0 1rem;
  //     border: 1px solid lightgray;
  //     position: absolute;
  //     right: 70%;
  //     top: 68%;
  //   }

  //   .searchContainer {
  //     margin-top: 50px;
  //     margin-left: 15%;
  //     width: 48%;
  //     height: 50px;
  //     border: solid #c2f2dc;
  //     border-radius: 60px;
  //     .searchElement {
  //       width: 100%;
  //       height: 100%;
  //       display: flex;
  //       justify-content: row;
  //       align-items: center;

  //       input {
  //         border: none;
  //         width: 90%;
  //         height: 90%;
  //         margin-left: 20px;
  //         font-size: 15px;

  //         outline: none;
  //       }
  //       svg {
  //         border-left: solid black;
  //         width: 10%;
  //         font-size: 1.2rem;
  //       }
  //     }
  //   }

  //   ul {
  //     display: flex;
  //     flex-wrap: wrap;
  //     list-style: none;
  //     margin-right: 3vw;
  //     font-size: 1%;
  //     width: 70%;

  //     li {
  //       text-align: center;
  //       padding: 5px;
  //       font-size: 1%;

  //       &:hover {
  //         background-color: #ced4da;
  //       }
  //     }
  //   }
  // }
}
/*
    .container {
      .tagList {
        li {
          width: 13vw;
          margin: 10px;
          font-size: 15px;
        }
      }
      .searchContainer {
        width: 50vw;
        .searchElement {
          svg {
            border-left: solid black;
            padding-left: 4px;
            padding-right: 5px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  */
