.container {
  div {
    display: flex;
    background-color: rgba(0, 209, 136, 0.197);
    border-radius: 10px;
    margin: 1.2em 0;
    padding: 5px 1em;
    align-items: center;
    justify-content: space-between;
  }
}
