.applierInfo {
  display: flex;
  flex-direction: column;
  div {
    margin: 1em 0;
  }
  span {
    margin-right: 10px;
  }
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

.button {
  button {
    margin: 1em 0;
    margin-right: 10px;
  }
}
