.container {
  div {
    display: flex;
    background-color: rgba(0, 209, 136, 0.197);
    border-radius: 10px;
    margin-top: 1em;
    padding: 5px 1em;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .container {
    div {
      border-radius: 0px;
    }
  }
}
