$color1: #9fa4a240;

.applierInfo {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  border-radius: 20px;
  border: 1px solid $color1;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  background-color: white;
  div {
    margin: 10px 0;
  }
  span {
    font-weight: bold;
    margin-right: 10px;
  }
  p {
    margin: 5px 0;
    background-color: white;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 13px 3px;
  }
}

.acceptOrDel {
  display: flex;
  justify-content: flex-end;
  svg {
    margin-top: 10px;
    margin-right: 20px;
    height: 100%;
    width: 30px;
    &:hover {
      color: #8af3cd;
    }
  }
}

@media (max-width: 768px) {
  .applierInfo {
    padding: 1em;
    // margin-bottom: 2em;
    border-radius: 0px;
    div {
      margin: 0;
    }
    p {
      font-size: 90%;
      padding: 3px;
    }
  }
  .acceptOrDel {
    svg {
      width: 25px;
    }
  }
}
