.preface {
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #c5e2f0;
  padding: 10px 0;
  span {
    font-weight: bold;
  }
}
.preface div {
  width: 100%;
  text-align: center;
}

.members {
  text-align: center !important;
  width: 30% !important;
}

.input {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .preface {
    justify-content: space-between;
    border-radius: 0px;
    padding: 10px;
    div {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .members {
    width: 50% !important;
  }
}
