$color1: #9fa4a240;

.addBtn {
  display: flex;
  margin-top: 1em;
  justify-content: flex-end;
}

.headers {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 10px;
  svg {
    margin-right: 1em;
    height: 100%;
  }
  h1 {
    height: 100%;
  }
}

.body {
  background-color: rgba(235, 235, 235, 0.3);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (max-width: 768px) {
  .addBtn {
    font-size: 70%;
  }
  .body {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
