$sans-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.member {
  display: flex;
  justify-content: space-around;
}

.member div {
  text-align: left;
  width: 80%;
  padding: 10px 0;
}

.member svg {
  border: 1px solid;
  border-radius: 50%;
  color: #fae100;
  padding: 5px;
}

#changeLeader {
  color: rgba(244, 244, 244, 0.7);
  &:hover {
    color: #fae100;
  }
}

.name span {
  cursor: pointer;
  &:hover {
    text-decoration: line-through;
    color: rgb(201, 0, 40);
  }
}

#crown {
  text-align: center;
  width: 30% !important;
}
.input {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .member {
    div {
      display: flex;
      justify-content: center;
    }
  }
  #crown {
    width: 40% !important;
    text-align: left;
    svg {
      width: 40%;
      height: 40%;
    }
  }
}
