.member {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.member li {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  list-style: none;
}

.member svg {
  border: 1px solid;
  border-radius: 50%;
  color: #fae100;
  padding: 5px;
}

#changeLeader {
  transition-duration: 0.5s;
  color: rgba(244, 244, 244, 0.7);
  &:hover {
    transform: scale(1.1);
    color: #fae100;
  }
  &:active {
    transform: scale(1);
  }
}

.name span {
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    color: #3fcdb8;
    font-weight: bold;
  }
  &:active {
    font-size: 95%;
  }
}

#crown {
  text-align: center;
  width: 30% !important;
}
.input {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .member {
    li {
      display: flex;
      justify-content: center;
    }
  }
  #crown {
    width: 40% !important;
    text-align: left;
    svg {
      width: 40%;
      height: 40%;
    }
  }
}
