.wrap
  width: 20vw
  height: 40vh
  border: 3px solid black
  display: flex
  align-items: center
  flex-direction: column
  background-color: white
  

  .icon 
    margin-top: 1vw
    font-size: 6vw