.container {
  width: 60%;
  margin: 1rem auto;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 24%);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: none;
  }
  & h1 {
    margin: 0;
  }

  & > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .boardLinkContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      & > button {
        appearance: none;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        color: black;
      }
    }
    & > h1 {
      margin: 0;
    }
    .postHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profileContainer {
        display: flex;
        align-items: center;
        gap: .25rem;
        .profileImage {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
        }
        .profileLink {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      & > div:nth-of-type(2) {
        text-align: right;
      }
      & button {
        background: inherit;
        border: 2px solid #90e2d6;
        border-radius: 1rem;
        margin: 0.25rem;
        cursor: pointer;
        color: black;
      }
    }
  }
  & > hr {
    border: 1px solid lightgray;
  }
  & > div:nth-of-type(2) {
    img {
      max-width: 100%;
    }
    & > div {
      font-size: 1rem;
    }
  }
}

.container a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.likeButton {
  padding: .25rem .5rem;
  display: flex;
  border: 1px solid gray;
  border-radius: .25rem;
  background-color: white;
  color: gray;
  &:hover {
    color: indianred;
    background-color: white;
  }
  & > svg {
    display: block;
    margin: auto;
  }
}

.like {
  color: white;
  background-color: indianred;
}
