.container {
  width: 80%;
  margin: 0 auto;
  margin-top: calc(10vh + 1rem);
  border: 2px solid #90E2D6;
  padding: 1rem 2rem;
  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  & > hr {
    border: .5px solid #90E2D6;
  }
  & > div:nth-of-type(2) {
    margin: 1rem;
  }
}
