.badge {
  z-index: 99;
  display: flex;
  position: absolute;
  bottom: 23px;
  left: 23px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  color: white;
  width: 30%;
  height: 30%;
  padding: 3px;
}
