.myHeader {
  font-family: "twayair";
  font-size: 1.1vw;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  padding-left: 0;
  color: black;
  border-bottom: 0.1px solid #e9e9e9;
  #now {
    color: #3FCDB8;
  }
  img {
      width: 81px;
      height: 36px;
      object-fit: cover;
      margin-right: 43%;
      margin-left: 7%;
      cursor: pointer;
    }
  .icon {
    display: none;
  }
  .topMenu {
    width: 50%;
    margin-left: 6%;
    display: flex;
  }
  .menus {
    width: 17vw;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 15%;
    padding-left: 0;
    cursor: pointer;
    .mobile {
      display: none;
    }
  }
  li:hover {
    color: #3fcdb8;
  }
}

.user {
  display: flex;
  padding-left: 0;
  align-items: center;
  text-align: center;
  list-style: none;
  cursor: pointer;
  .login {
    line-height: 32px;
  }
  .signUp {
    width: 5.5vw;
    height: 32px;
    border-radius: 8px;
    background-color: #90e2d6;
    text-align: center;
    line-height: 31.5px;
    margin-left: 1em;
  }
  #nowSign {
    color: #fff;
  }
}

.dropdown {
  text-align: center;
  position: relative;
  &:hover {
    .dropdownMenu {
      display: block;
      color: black;
    }
  }
  .dropdownMenu {
    width: 7vw;
    padding: 16px;
    margin-left: -3.3vw;
    list-style-type: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    display: none;
  }
  .notice {
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
}


@media screen and (max-width: 768px) {
  .myHeader {
    width: 100%;
    flex-direction: column;
    img {
      position: absolute;
      left: -15px;
    }
    .icon {
      display: inline;
      font-size: 28px;
      position: absolute;
      right: 35px;
      cursor: pointer;
    }
    .topMenu {
      width: 40vw;
      margin: 0%;
      margin-left: 60%;
    }
    .menus {
      font-size: 2.2vw;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0.5rem;
      padding-bottom: 0%;
      margin: 0%;
      margin-top: 50%;
      li {
        width: 90%;
        padding: 1rem;
        cursor: pointer;
        border-bottom: 0.1px solid #dddbdb;
        &:hover {
          background-color: #bfe7e17e;
          color: black;
        }
      }
      .mobile {
        display: inline;
        list-style: none;
        width: 100%;
        padding: 0%;
        margin-top: 60%;
        margin-left: -11%;
        .notice {
          border-top: 0.1px solid #dddbdb;
        }
      }
      .dropdown {
        display: none;
      }
    }
    .user {
      font-size: 2.2vw;
      width: 100%;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0%;
      padding-right: 6%;
      border-left: 0.1px solid #dddbdb;
      border-bottom: 0.1px solid #dddbdb;
      .login {
        width: 100%;
        text-align: right;
      }
      .signUp {
        width: 100%;
        text-align: right;
        background-color: #f8f8f8;
        margin-bottom: 10%;
      }
    }
    #show {
      display: flex;
      background-color: #f8f8f8;
    }
    #hide {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .myHeader {
    width: 100%;
    .topMenu {
      width: 55vw;
      margin: 0%;
      margin-left: 60%;
    }
    .user {
      width: 100%;
      margin-right: 6vw;
    }
  }
}