.myHeader {
  font-family: "twayair";
  font-size: 1.1vw;
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  padding-left: 0;
  color: black;
  border-bottom: 0.1px solid #e9e9e9;
  #now {
    color: #3fcdb8;
  }
  img {
    width: 81px;
    height: 36px;
    object-fit: cover;
    margin-right: 43%;
    margin-left: 7%;
    cursor: pointer;
  }
  & > div:nth-of-type(1) {
    display: none;
  }
  .topMenu {
    width: 50%;
    margin-left: 6%;
    display: flex;
  }
  .menus {
    width: 17vw;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 15%;
    padding-left: 0;
    cursor: pointer;
    .mobile {
      display: none;
    }
  }
  li:hover {
    color: #3fcdb8;
  }
}
.tokenIcons {
  display: flex;
  width: 30%;
  margin: auto;
  svg {
    cursor: pointer;
    margin: 0 18%;
    font-size: 1.7vw;
  }
  .bell {
    margin-right: 150%;
  }
}
.user {
  display: flex;
  padding-left: 0;
  align-items: center;
  text-align: center;
  list-style: none;
  cursor: pointer;
  .login {
    line-height: 32px;
  }
  .signUp {
    width: 5.5vw;
    height: 32px;
    border-radius: 8px;
    background-color: #90e2d6;
    text-align: center;
    line-height: 31.5px;
    margin-left: 1em;
  }
  #nowSign {
    color: #fff;
  }
}

.dropdown {
  text-align: center;
  position: relative;
  &:hover {
    .dropdownMenu {
      display: block;
      color: black;
    }
  }
  .dropdownMenu {
    width: 7vw;
    padding: 16px;
    margin-left: -3.3vw;
    list-style-type: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    display: none;
  }
  .notice {
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
}

.alam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .myHeader {
    width: 100%;
    flex-direction: column;
    img {
      position: absolute;
      left: -5px;
    }
    & > div:nth-of-type(1) {
      display: inline;
      position: absolute !important;
      right: 35px;
    }
    .topMenu {
      width: 60%;
      margin: 0%;
      margin-left: 108%;
    }
    .menus {
      cursor: default;
      font-size: 2.2vw;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 0%;
      margin: 0%;
      margin-top: 150%;
      margin-bottom: 60%;
      li {
        width: 55%;
        padding: 1.5rem;
        cursor: pointer;
        border-bottom: 0.1px solid #dddbdb;
        &:hover {
          background-color: #bfe7e17e;
          color: black;
        }
      }
      .mobile {
        display: inline;
        list-style: none;
        width: 100%;
        padding: 0%;
        margin-top: 100%;
        text-align: center;
      }
      .dropdown {
        display: none;
      }
      .clublist {
        margin-left: -22%;
        text-align: center;
      }
      .promotion {
        margin-left: -22%;
        text-align: center;
      }
    }
    .users {
      width: 100%;
      height: 100%;
      margin-top: 90%;
      margin-left: -11%;
    }
    .user {
      width: 100%;
      height: 10%;
      margin-top: 150%;
      margin-left: -70%;
      font-size: 2.2vw;
      .login {
        margin-right: 2%;
      }
      .signUp {
        width: 12vw;
      }
    }
    .tokenIcons {
      width: 100%;
      margin-top: 115%;
      margin-left: -12%;
      .alam {
        width: 100%;
      }
      .bell {
        width: 15%;
        height: 10%;
        margin-top: 130%;
        margin-left: -62%;
      }
      .Profile {
        width: 15%;
        height: 10%;
        margin-top: 130%;
        margin-left: -132%;
      }
    }
    #show {
      display: flex;
      background-color: #fafafaf5;
    }
    #hide {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .myHeader {
    width: 100%;
    img {
      padding-left: 2%;
    }
    .topMenu {
      width: 90vw;
      li {
        font-size: 3.5vw;
      }
      .notice {
        margin-top: 50%;
      }
      .user {
        margin-top: 185%;
        margin-left: -68%;
      }
      .signUp {
        width: 17vw;
      }
      .tokenIcons {
        margin-top: 140%;
      }
    }
  }
}
