@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.myHeader {
  font-family: "twayair";
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  list-style-type: none;
  color: black;
  li {
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    &:hover {
      color: #3fcdb8;
    }
    img {
      width: 81px;
      height: 36px;
      object-fit: cover;
      margin-right: 38em;
      margin-left: -5em;
    }
  }
}

.user {
  display: flex;
  margin-left: 3.5em;
  .login {
    line-height: 32px;
  }
  .signUp {
    width: 80px;
    height: 32px;
    border-radius: 8px;
    background-color: #90e2d6;
    text-align: center;
    line-height: 31.5px;
    margin-left: -0.5em;
  }
}

.dropdown {
  margin-top: 0.25vh;
  text-align: center;
  position: relative;
  &:hover {
    .dropdownMenu {
      display: block;
      color: black;
    }
  }
  .dropdownMenu {
    width: 7.5vw;
    padding: 16px;
    margin-left: -3.3vw;
    list-style-type: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    display: none;
  }
  .notice {
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
}

li #now {
  color: #3fcdb8;
}
