.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & > div {
    background-color: white;
    width: 80%;
    height: 60%;
  }
}

.open {
  @extend .modal;
  display: flex;
}

.close {
  @extend .modal;
  display: none;
}
