.wrap {
  width: 100%;
}

.spinner {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border: 3px solid rgba(0, 0, 0, 0.719);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 0.8s ease-in-out infinite;
  -webkit-animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
