.login {
  width: 50%;
  height: 28rem;
  margin: 5% auto;
  border: 2px solid #c2f2dc;
  border-radius: 70px;
  .body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0 auto;
    font-size: 240%;
    font-weight: 100;
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .idInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90%;
    width: 70%;
    height: 3.3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    outline-style: none;
  }
  .pwInput {
    @extend .idInput;
    margin-bottom: 0%;
  }
  button {
    width: 20%;
    height: 50px;
    font-size: 100%;
    border-radius: 8px;
    border-style: solid;
    border-color: #3fcdb8;
    background-color: #fff;
    color: #3fcdb8;
    cursor: pointer;
  }
}

.find {
  width: 70%;
  padding-top: 1rem;
  font-size: 85%;
  margin: 0 auto;
  text-align: right;
  span {
    cursor: pointer;
  }
  .findID {
    margin-right: 1.5rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 72%;
  margin: 0 auto;
  margin-top: 5%;
  .loginBtn {
    margin-right: 15px;
  }
  .loginBtn:hover {
    filter: brightness(96%);
  }
  .signupBtn:hover {
    filter: brightness(96%);
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    .login {
      width: 80%;
      .find {
        font-size: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    .login {
      width: 90%;
      font-size: 80%;
    }
  }
}
