.wrap {
  width: 100%;
  min-height: 78vh;
  display: flex;
  align-items: center;
}

.login {
  width: 45em;
  padding: 2rem 0rem;
  margin: 3% auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.342);
  border-radius: 50px;
  .body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0 auto;
    font-size: 240%;
    font-weight: 400;
    margin-bottom: 35px;
  }
  .idInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90%;
    width: 60%;
    height: 3.3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    border-radius: 0px;
    outline-style: none;
  }
  .pwInput {
    @extend .idInput;
    margin-bottom: 0%;
  }
  .find {
    width: 60%;
    padding-top: 1rem;
    font-size: 85%;
    margin: 0 auto;
    text-align: left;
    color: #777777;
    span {
      cursor: pointer;
    }
    .findID {
      margin-right: 1.5rem;
    }
  }
  .buttons {
    width: 60%;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    .loginBtn:hover {
      filter: brightness(96%);
    }
  }
  button {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 50px;
    font-size: 100%;
    border-radius: 5px;
    border: 1.5px solid #90cec7cb;
    background-color: #fff;
    color: #3fcdb8;
    cursor: pointer;
  }
  .signup {
    span {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 80%;
    }
    margin-top: 7%;
    .signupBtn {
      cursor: pointer;
      font-style: oblique;
      color: rgb(99, 99, 99);
      &:hover {
        color: #90cec7;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    .login {
      width: 80%;
      .find {
        font-size: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    .login {
      width: 90%;
      font-size: 80%;
      box-shadow: 0px 0px 0px 0px;
      .buttons {
        margin-top: 15%;
      }
      button {
        height: 40px;
        margin-bottom: 5%;
      }
    }
  }
}
