.find {
  width: 42em;
  height: 28rem;

  margin: 4vh auto;
  border-style: solid;
  border-color: #c2f2dc;
  border-radius: 70px;
  .body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0 auto;
    font-size: 2.5em;
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .num {
    font-size: 1rem;
    width: 30rem;
    height: 3.3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    outline-style: none;
  }
  .email {
    font-size: 1rem;
    width: 30rem;
    height: 3.3rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1.4px solid #dadada;
    outline-style: none;
  }
  .findID {
    width: 5.8rem;
    padding: 1rem;
    margin-left: 4.5rem;
    cursor: pointer;
  }
  button {
    zoom: 1.4;
    width: 6rem;
    height: 2.3rem;
    margin: 0 auto;
    margin-top: 2vh;
    border-radius: 8px;
    border-style: solid;
    border-color: #3fcdb8;
    background-color: #fff;
    color: #3fcdb8;
    cursor: pointer;
    margin-left: 21rem;
    &:hover {
      filter: brightness(96%);
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    margin-top: 10%;
    .find {
      width: 80%;
      font-size: 85%;
      .num {
        width: 65%;
        margin-top: 2%;
      }
      .email {
        width: 65%;
      }
      .findPW {
        width: 50%;
        font-size: 110%;
        margin: 0;
        margin-left: 14%;
      }
      button {
        width: 30%;
        margin: 0;
        margin-top: 2rem;
        margin-left: 60%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    .find {
      width: 90%;
      font-size: 75%;
      margin-top: 30%;
      margin-bottom: 35%;
      button {
        zoom: 1.1;
        margin-top: 8%;
        font-size: 60%;
      }
    }
  }
}
