.wrap {
  width: 100%;
  min-height: 78vh;
  display: flex;
  align-items: center;
}

.find {
  width: 50%;
  height: 28rem;
  margin: 3% auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.342);
  border-radius: 50px;
  .body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0 auto;
    font-size: 240%;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90%;
    width: 60%;
    height: 3.3rem;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    border-radius: 0px;
    outline-style: none;
  }
  .email {
    @extend .name;
    margin-bottom: 0%;
  }
  .findPW {
    width: 60%;
    padding-top: 1rem;
    font-size: 85%;
    margin: 0 auto;
    text-align: left;
    color: #777777;
    span {
      cursor: pointer;
    }
  }
  .btnWrap {
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
    button {
      font-family: 'Noto Sans KR', sans-serif;
      width: 100%;
      height: 50px;
      justify-content: center;
      font-size: 100%;
      border-radius: 5px;
      border: 1.5px solid #90cec7cb;
      background-color: #fff;
      color: #3fcdb8;
      cursor: pointer;
      &:hover {
        filter: brightness(96%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    .find {
      width: 80%;
      .findPW {
        font-size: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    .find {
      width: 90%;
      font-size: 75%;
      box-shadow: 0px 0px 0px 0px;
      h1 {
        margin-top: 3rem;
      }
      button {
        height: 40px;
        margin-bottom: 5%;
      }
    }
  }
}
