.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #c2f2dccc;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  flex: 1;
  .topBar {
    display: flex;
    justify-content: space-between;
    .anonContainer {
      label {
        vertical-align: top;
        font-size: small;
      }
    }
  }
  & > form {
    display: flex;
    & > input {
      flex: 1;
      border: none;
      background-color: inherit;
    }
    & > button {
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
}
