.comment {
  display: flex;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }
  & > div {
    flex: 1;
    margin: 0 0.5rem;
    & > div:nth-of-type(1) {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 0.5rem;
      & > p {
        margin: 0;
      }
      & > p:nth-of-type(2) {
        color: #90e2d6;
        border: 2px solid #90e2d6;
        border-radius: 1rem;
        padding: 0 1rem;
      }
    }
    & > div:nth-of-type(3) {
      display: flex;
      gap: 1rem;
      p {
        margin: 0.5rem 0;
        font-size: small;
      }
      .reply {
        cursor: pointer;
      }
    }
  }
}

.comment .action-button {
  border: none;
  background: inherit;
  cursor: pointer;
  &:hover {
    color: lightgray;
  }
}

.likeButton {
  padding: 0 0.25rem;
  margin: auto 0;
  display: flex;
  border: 1px solid gray;
  border-radius: 0.25rem;
  background-color: white;
  color: gray;
  &:hover {
    color: indianred;
    background-color: white;
  }
  & > svg {
    display: block;
    margin: auto;
  }
}

.like {
  color: white;
  background-color: indianred;
}
