@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.background {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    position: relative;
    left: 0;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    svg {
      position: relative;
      cursor: pointer;
    }
    .imgContainer {
      height: 80%;
      img {
        margin-right: 50px;
        height: 100%;
        max-width: 30vw;
        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 770px) {
  .background {
    .image {
      width: 50%;
      height: 25%;
      position: absolute;
      top: 1%;
      left: 24%;

      svg {
        position: relative;
        font-size: 50px;
      }
      img {
        height: 100%;
        width: 60%;
        margin-right: 50px;

        margin-left: 50px;
      }
    }
  }
}

@media (max-width: 480px) {
  .background {
    width: 100%;
    .image {
      width: 60%;
      height: 25%;
      position: absolute;
      top: 1%;
      left: 18%;
      svg {
        position: relative;
        width: 100%;
      }

      img {
        height: 100%;
        width: 60%;
        margin-right: 50px;

        margin-left: 50px;
      }
    }
  }
}
