.background {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  .closeBtn {
    position: fixed;
    z-index: 1000;

    top: 5vh;
    right: 5vh;
    background: none;
    border: none;
    transform: scale(2);
    color: white;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 3%;

    & > div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      & > div:nth-of-type(1) {
        position: absolute;
        color: white;
        cursor: pointer;
      }
      & > div:nth-of-type(2) {
        position: absolute;
        color: #ffffff;

        cursor: pointer;
      }
      & > div:nth-of-type(4) {
        display: flex;
        align-items: center;
      }
    }
  }
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & > div:nth-child(1) {
    height: 100%;
  }
  img {
    border-radius: 16px;

    width: 60%;
  }
}
@media (max-width: 768px) {
  .background {
    flex-direction: column;
    justify-content: flex-start;
    .closeBtn {
      right: 2vh;
    }
    .image {
      width: 80%;
      & > div:nth-of-type(1) {
        & > div:nth-of-type(1) {
          position: absolute;
          color: white;
          cursor: pointer;
          left: 0;
        }
        & > div:nth-of-type(2) {
          position: absolute;
          color: #ffffff;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
  .slider {
    margin: 0;
    margin-top: 1em;
    img {
      width: 80%;
    }
  }
}

@media (max-width: 768px) and (max-height: 500px) {
  .background {
    flex-direction: column;
    justify-content: flex-start;
    .image {
      width: 100%;
    }
  }
  .slider {
    margin: 0;
    margin-top: 1em;
    img {
      display: none;
    }
  }
}
