@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.background {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    & > div:nth-of-type(1) {
      & > div:nth-of-type(1) {
        display: none;
      }
      & > div:nth-of-type(2) {
        display: none;
      }
    }
  }
}
.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  & > div:nth-child(1) {
    display: none;
  }
  img {
    border-radius: 16px;
    min-width: 60%;
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .background {
    flex-direction: column;
    justify-content: flex-start;
    .image {
      width: 100%;
    }
  }
  .slider {
    margin: 0;
    margin-top: 1em;
    img {
      width: 80%;
    }
  }
}
