.container {
  background: white;
  border: 2px solid #90e2d6;
  overflow-y: auto;
  padding: 1em;
  border-radius: 16px;
  width: 40%;
  max-height: 80%;
  h2,
  h3 {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.container::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
  width: 8px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #64beb18c;
  border-radius: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  span {
    margin: 5px 0;
  }
}
.header {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.boardInfo {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-bottom: 10px;
    }
  }
}

.description {
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 1em;
    width: 90%;
    border: none;
    border-radius: 3px;
  }
}
