.container {
  background: white;
  overflow-y: auto;
  padding: 2em;
  width: 42%;
  max-height: 80%;
  margin-right: 3%;
  border-radius: 3px;
  .wrap {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.24);
    padding: 1.5em;
    border-radius: 16px;
  }
  * {
    font-family: sans-serif;
  }
  h1 {
    margin-bottom: 0%;
    width: 28vw;
    word-break: break-all;
  }
  & > div:nth-of-type(2) {
    img {
      max-width: 100%;
    }
  }
}

.infoWrap {
  display: flex;
  justify-content: space-between;
  margin-top: -2%;
  .club {
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #c2f2dc93;
    padding: 10px;
    padding-left: 16px;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    span {
      font-weight: 800;
      margin-left: 5px;
    }
    svg {
      color: white;
    }
  }
  .boardInfo {
    .profile {
      position: relative;
      display: flex;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
      }
      span {
        cursor: pointer;
      }
    }

    text-align: right;
    margin-top: 3rem;
  }
}

.options {
  border: 1px solid;
  top: 30px;
  position: absolute;
}

.container::-webkit-scrollbar {
  display: none;
}
.container::-webkit-scrollbar-thumb {
  display: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .info {
    text-align: right;
    .hit {
      vertical-align: text-bottom;
      color: rgb(71, 71, 71);
    }
  }
  .buttons {
    button {
      background-color: #f2f2f2;
      border: none;
      border-radius: 6px;
      padding: 6px 12px;
      cursor: pointer;
      margin-left: 5px;
      margin-bottom: 1rem;
      border: 0.5px solid rgb(231, 231, 231);
    }
  }
}
.header {
  border-bottom: 1px solid #a7a7a7;
}

.description {
  margin-top: 1em;
  p {
    font-size: 130%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  img {
    max-width: 100%;
  }
}
.likeButton {
  padding: 0.25rem 0.5rem;
  display: flex;
  border: 1px solid gray;
  border-radius: 0.25rem;
  background-color: white;
  color: gray;
  &:hover {
    color: indianred;
    background-color: white;
  }
  & > svg {
    display: block;
    margin: auto;
  }
}

.like {
  color: white;
  background-color: indianred;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 1em;
    width: 100%;
    border: none;
    border-radius: 3px;
    .wrap {
      border: none;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
    }
    h1 {
      width: 62vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .wrap {
    }
    * {
    }
    h1 {
    }
    & > div:nth-of-type(2) {
      img {
      }
    }
  }

  .infoWrap {
    .club {
      span {
        width: 100%;
        font-size: 12px;
      }
      svg {
      }
    }
    .boardInfo {
      .profile {
        img {
        }
        span {
        }
      }
    }
  }

  .options {
  }

  .title {
    .info {
      .hit {
      }
    }
    .buttons {
      button {
      }
    }
  }
  .header {
  }

  .description {
    p {
    }
    img {
    }
  }
  .likeButton {
  }

  .like {
  }
}
