.promotion {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  margin-right: 6%;

  .img {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .creationInfo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 6px;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .writerInfo {
        position: absolute;
        bottom: 5rem;
        display: flex;
        justify-content: center;

        .writer {
          margin-left: 1em;
          margin-right: 0.5em;
          font-size: 18px;
          border-radius: 10px;
          padding: 8px;
          background: white;
        }
      }
      .date {
        position: absolute;
        bottom: 2rem;
        border-radius: 10px;
        padding: 5px;
        width: 80%;
        background: white;
        display: flex;
        justify-content: center;
        font-size: 18px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.promotionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;

  .title {
    margin-top: 8px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hashtag {
    margin-top: 0;
  }
  .time {
    position: relative;
    margin-top: 0;
    margin-right: 30%;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .promotion {
    padding: 2rem;
    margin-right: 0%;
    .img {
      .creationInfo {
        display: none;
        .writerInfo {
          & > div:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .promotion {
    width: 100%;
    padding: 0;
    .img {
      .creationInfo {
        display: none;
        .writerInfo {
          & > div:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
