@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.writeBtn {
  position: absolute;
  right: 20%;
  top: 22%;
  font-family: "twayair";
  padding: 8px;
  width: 7%;
  font-size: 16px;
  display: flex;
  align-items: center;
  border: none;
  background: #c2f2dc;
  cursor: pointer;

  svg {
    margin-right: 10px;
    font-size: 22px;
  }

  &:hover {
    background: #3fcdb8;
  }
}
.section {
  padding: 20px;
  margin-left: 5%;
  margin-top: 5em;
  -moz-column-width: 18em;
  -webkit-column-width: 17em;

  .promotion {
    display: inline-block;
    padding: 0.25rem;
    position: relative;
    .img {
      position: relative;

      img {
        border-radius: 10%;
        width: 100%;
        height: 100%;
      }

      .creationInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 10%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .writerInfo {
          position: absolute;
          bottom: 30%;
          display: flex;
          justify-content: center;

          .writer {
            margin-right: 1em;

            border-radius: 10px;
            padding: 8px;
            background: white;
          }
        }
        .date {
          position: absolute;
          bottom: 10%;
          border-radius: 10px;
          padding: 5px;
          width: 80%;
          background: white;
          display: flex;
          justify-content: center;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .promotionInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

    .description {
      margin-bottom: 0;
    }
    .hashtag {
      margin-top: 0;
    }
    .time {
      position: relative;
      margin-top: 0;
      margin-right: 30%;
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
