.promotion {
  display: inline-block;
  width: 97%;
  position: relative;
  margin-right: 6%;
  /*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);*/
  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.322);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
  }

  .img {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .creationInfo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 6px;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .writerInfo {
        position: absolute;
        bottom: 5rem;
        display: flex;
        justify-content: center;

        .writer {
          margin-left: 1em;
          margin-right: 0.5em;
          font-size: 15px;
          font-family: 'twayair';
          border-radius: 10px;
          padding: 8px;
          background: white;
        }
      }
      .date {
        position: absolute;
        bottom: 2rem;
        border-radius: 10px;
        padding: 5px;
        width: 80%;
        background: white;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: 'twayair';
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.promotionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  .title {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .extraInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: center;
    .none {
      color: rgba(0, 0, 0, 0);
    }
    .hashtag {
      font-family: sans-serif;
      font-size: 14px;
    }
    .time {
      right: 0;
      font-size: 13px;
      font-family: sans-serif;
      // width: 100%;
      // margin-left: 10em;
    }
  }
}

@media screen and (max-width: 768px) {
  .promotion {
    padding: 2rem;
    margin-right: 0%;
    .img {
      .creationInfo {
        display: none;
        .writerInfo {
          & > div:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .promotionInfo {
      .title {
        width: 10em;
        font-size: 13px;
      }
      .extraInfo {
        .hashtag {
          font-size: 12px;
        }
        .time {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .promotion {
    width: 100%;
    padding: 0;
    .img {
      .creationInfo {
        display: none;
        .writerInfo {
          & > div:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
