.sectionWrap {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;

  .section {
    width: 90%;
    height: 100%;
    margin-top: 5em;
    margin: 0 auto;

    -webkit-column-width: 15em;

    .poster {
      margin-right: 0 !important;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .sectionWrap {
    width: 90%;
    display: flex;
    justify-content: center;
    .section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .poster {
        width: 49%;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sectionWrap {
    width: 100%;
    .section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .poster {
        width: 40%;
      }
    }
  }
}
