.sectionWrap {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  min-height: 60vh;

  .section {
    width: 100%;

    margin: 0 auto;
    -webkit-column-width: 15em;

    .poster {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .sectionWrap {
    width: 90%;
    display: flex;
    justify-content: center;
    min-height: 62vh;
    .section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .poster {
        width: 49%;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sectionWrap {
    width: 100%;
    min-height: 50vh;

    .section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .poster {
        width: 40%;
      }
    }
  }
}
