.sectionWrap {
  display: flex;
  justify-content: center;
}
.section {
  margin-top: 5em;
  -moz-column-width: 18em;
  -webkit-column-width: 21em;
}

@media screen and (max-width: 768px) {
  .sectionWrap {
    .section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
