.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  ul {
    display: flex;
    list-style: none;

    li {
      cursor: pointer;
      background-color: #f1f3f5;
      border-radius: 15px;
      padding: 0.8rem 1.5rem;
      font-size: 16px;
      font-family: 'twayair';
      margin-right: 6px;

      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;

      &:hover {
        transition: 0.3s;
        filter: brightness(96%);
      }
      &:active {
        transition: 0.1s;
        filter: brightness(100%);
      }
    }
  }

  select {
    border-radius: 3px;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid lightgray;
    font-family: 'twayair';
  }

  .body {
    display: flex;
    margin-top: 2%;
    align-items: center;
  }
  .searchContainer {
    margin: 0% 5%;

    width: 35vw;
    height: 50px;
    border: solid #c2f2dc;
    border-radius: 60px;
    .searchElement {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: row;
      align-items: center;

      input {
        border: none;
        width: 90%;
        height: 90%;
        margin-left: 20px;
        font-size: 15px;
        font-family: 'twayair';

        outline: none;
      }
      svg {
        border-left: solid black;
        width: 10%;
        font-size: 1.2rem;
      }
    }
  }

  .writeBtn {
    width: 7em;
    height: 2.5rem;

    background: white;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    cursor: pointer;
    color: black;
    font-family: 'twayair';

    &:hover {
      filter: brightness(98%);
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 1rem;
    margin-bottom: 20px;
    .searchContainer {
      width: 50vw;
      .searchElement {
        svg {
          border-left: solid black;
          padding-left: 4px;
          padding-right: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-bottom: 20px;
    ul {
      padding: 0%;
      margin-top: 0%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        padding: 10px;
        margin: 5px;
        width: 20%;
        text-align: center;
        font-size: 12px;
      }
    }
    .body {
      width: 95%;
      select {
        padding: 0;
        font-size: 12px;
      }
      .searchContainer {
        width: 120%;
        height: 38px;
        margin: 5px;
        svg {
          width: 1rem;
          margin-right: 5px;
        }
      }
      .writeBtn {
        width: 5rem;
        height: 2.2rem;
        span {
          display: none;
        }
      }
    }
  }
}
