.container {
  border: 1px solid gainsboro;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8)
  }
  & > img {
    width: 100%;
  }
  & > div {
    & > p {
      margin: 1rem;
    }
  }
}
