@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$color-mint: #90e2d6;
$color-heavy-mint: #3fcdb8;
$color-light-mint: #c2f2dc;

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 60%;
}

#clubName {
  font-family: "twayair";
  font-size: 200%;
  text-align: center;
}

#add {
  height: 5vh;
  text-align: right;
  svg {
    position: fixed;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    &:hover {
      color: $color-heavy-mint;
    }
  }
}

.activities {
  display: flex;
  margin-top: 2vh;
  height: 100%;
  flex-wrap: wrap;
}
