.header {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #000;

  span {
    margin: 5px 0;
  }
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .header {
    border-bottom: none;
    margin-left: 5vw;
  }
}
