.img {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    cursor: zoom-out;
  }
}
@media (max-width: 1024px) {
  .img {
    img {
      width: 80vw;
      cursor: zoom-out;
    }
  }
}

@media (max-width: 767px) {
  .img {
    img {
      width: 90vw;
      cursor: zoom-out;
      margin-bottom: 1em;
    }
  }
}
