@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

.container {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
  .explain {
    font-size: 90%;
    width: 50%;
    margin: 0 auto;
    padding: 3rem 5rem;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    span {
      font-family: 'Noto Sans KR', sans-serif;
    }
    h2 {
      font-family: 'Noto Sans KR', sans-serif;
      margin-top: 5%;
    }
    ul {
      margin-bottom: 6%;
    }
    li {
      font-family: 'Noto Sans KR', sans-serif;
      margin-bottom: 1.5%;
      list-style: circle;
    }
    .naverInfo {
      margin-top: 9%;
      margin-bottom: 7%;
      font-weight: 600;
      font-style: oblique;
    }
    hr {
      border: none;
      border-top: 1.5px dashed #bbb;
      margin-bottom: 7%;
    }
    .selectBtn {
      width: 100%;
      text-align: center;
      button {
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 4%;
        border: none;
        border-bottom: 0.5px solid #d1d1d1;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        color: #8b8b8bb7;
        font-style: oblique;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .explain {
      font-size: 80%;
      width: 80%;
      padding: 3rem 1.5rem;
    }
  }
}
