.form {
  font-family: 'twayair';
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-bottom: 5%;
  gap: 15px;
  width: 35em;
  height: 45em;
  border: solid;
  border-color: #C2F2DC;
  border-radius: 40px;
  h1 {
    margin: 0 auto;
    margin-top: 5.5vh;
    margin-bottom: 4vh;
  }
  .input {
    width: 20em;
    height: 1vh;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-bottom: 1.4px solid #dadada;
    outline-style: none;
  }
  select {
    width: 23.5em;
    height: 3.5em;
    margin: 0 auto;
    margin-top: 2vh;
    border: 1.5px solid #dadada;
    border-radius: 0.5em;
  }
}

.button {
  font-family: 'twayair';
  zoom: 1.4;
  width: 6em;
  height: 3em;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 8px;
  border: 1.5px solid #3FCDB8;
  background-color: #fff; 
  color: #3FCDB8;
  cursor: pointer;
}
.button:hover {
  filter: brightness(96%);
}

.login {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  .loginRouting {
    margin-left: 1rem;
    cursor: pointer;
    &:hover {color: #3FCDB8;}
  }
}

.input::-webkit-inner-spin-button, 
.input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: 1024px) {
  .form {
    margin-top: 18%;
    width: 35rem;
    height: 55rem;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 90%;
    height: 50rem;
    margin-top: 20%;
    .input {
      width: 52%;
    }
    .select {
      width: 63%;
    } 
    .button {
      width: 22%;
      height: 7%;
      font-size: 70%;
    }
    .login {
      font-size: 90%;
    }
  }
}

@media screen and (max-width: 480px) {
  .form {
    margin-top: 6rem;
    width: 90%;
    height: 48rem;
    .button {
      width: 5.5rem;
      height: 2.5rem;
    }
  }
}