.container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  min-height: 100vh;
}
.sidebar {
  background-color: #3fcdb8;
  position: fixed;
  left: 0;
  height: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 580px) {
  .sidebar {
    background-color: rgba(#fff, 0);
  }
}
