.sideBar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #e6e6e6;
  background-color: #c5e2f0b6;
  align-items: center;
}

.menu {
  display: flex;
  #now {
    background-color: #6ecfff;
  }
}

.hide {
  display: none;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 85%;
  padding: 0 2em;
  cursor: pointer;
  &:hover {
    background-color: rgba(228, 228, 228, 0.37);
  }
  svg {
    padding: 1.5vh 0;
    margin-right: 5px;
    color: rgba(45, 45, 45, 0.9);
  }
}

@media (max-width: 1024px) {
  #show {
    width: 100%;
    div {
      width: 100%;
      padding: 0 1px;
      height: 60px;
    }
    svg {
      width: 60%;
      height: 60%;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
    span {
      display: none;
    }
  }
  #hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .sideBar {
    height: 45px;
  }
  #show {
    height: 100%;
    div {
      padding: 0 1px;
      height: 100%;
    }
    svg {
      width: 50%;
      height: 50%;
      margin: 0 10px;
    }
  }
}
