.sideBar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #e6e6e6;
  background-color: rgb(253, 253, 253);
  align-items: center;
}

#close {
  background-color: white;
}

.menu,
#show {
  display: flex;
  div {
    display: flex;
    align-items: center;
    height: 62px;
    padding: 0 1vw;
    cursor: pointer;
    &:hover {
      background-color: rgba(228, 228, 228, 0.37);
    }
    svg {
      padding: 1.5vh 0;
    }
  }
  #now {
    background-color: #d4eee498;
  }
}

.hide {
  display: none;
}

#hide {
  div {
    span {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  #show {
    div {
      padding: 0 1px;
      height: 55px;
    }
    svg {
      width: 25px;
      height: 25px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      margin: 0 20px;
    }
    span {
      display: none;
    }
  }
  #hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .sideBar {
    margin-top: 1px;
  }
  #show {
    div {
      padding: 0 1px;
      height: 40px;
    }
    svg {
      width: 15px;
      height: 15px;
      margin: 0 10px;
    }
  }
}
