.sideBar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #e6e6e6;
  background-color: rgb(253, 253, 253);
  align-items: center;
}

.menu {
  display: flex;
  #now {
    background-color: #d4eee498;
  }
}

.hide {
  display: none;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 85%;
  padding: 0 2em;
  cursor: pointer;
  &:hover {
    background-color: rgba(228, 228, 228, 0.37);
  }
  svg {
    padding: 1.5vh 0;
    margin-right: 5px;
  }
}

@media (max-width: 1024px) {
  #show {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3em;
    div {
      width: 100%;
      height: 100%;
      padding: 0 1px;
    }
    svg {
      width: 50%;
      height: 50%;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
    span {
      display: none;
    }
  }
  #hide {
    display: none;
  }
}

@media (max-width: 767px) {
  #show {
    height: 2.5em;
    div {
      height: 100%;
    }
  }
}
