.sideBar {
  background-color: white;
  position: fixed;
  height: 100vh;
  span {
    font-family: "twayair";
    margin-left: 1vh;
  }
}

.menu,
#show {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    padding: 0 2vh;
    height: 8vh;
    cursor: pointer;
    &:hover {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: rgb(243, 243, 243);
      color: #6dc4b5;
    }
    svg {
      margin: 0 1vh;
    }
  }
  #now {
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(122, 122, 122);
    color: #6dc4b5;
  }
}

#hide {
  position: absolute;
  width: 100%;
  div {
    span {
      display: none;
    }
    &:hover {
      width: 50%;
      border-radius: 50%;
    }
  }
  #now {
    width: 50%;
    border-radius: 50%;
    background-color: rgb(122, 122, 122);
    color: #6dc4b5;
  }
}

#hamb {
  cursor: pointer;
  padding: 2vh 2.5vh;
  &:active {
    border-radius: 50%;
    background-color: rgba(gray, 0.2);
    color: #6dc4b5;
    transition: 0.14s;
  }
}

@media (max-width: 1080px) {
  #show {
    span {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  .sideBar {
    display: flex;
    background-color: rgba(#fff, 0);
    margin-top: 1vh;
  }
  #show {
    display: flex;
    flex-direction: row;
    width: 100vw;
    div {
      height: 6vh;
      margin: 1vh 0;
      padding: 0;
      &:hover {
        border-radius: 50%;
      }
    }
    #now {
      border-radius: 50%;
    }
  }

  #hide {
    display: none;
  }
}
