.sideBar 
  display: flex
  flex-direction: column

  span
    font-size: 150%

  img
    width: 15%
    
.show 
  width: 15vw
  height: 80vh
  border: 1px solid red
  position: absolute
  left: 0px
  transition: 1s
  
.hide 
  width: 15vw
  height: 80vh
  border: 1px solid red
  position: absolute
  left: -15vw
  transition: 1s