.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 0.6rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    word-break: break-all;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: auto;
  }

  thead {
    background-color: #ddf7ec;
  }
}
