.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faece1;
  width: 30vw;
  height: 55vh;
  border: 0.3rem solid #F0BF9A;
  border-radius: 10%;
  flex-direction: column;
  align-content: stretch;
}
.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  hr {
    border: 0.1rem solid #F0BF9A;
    width: 25vw;
  }
}

.myHeader { 
  .user {
    border: 0.3vw solid #F0BF9A;
    border-radius: 70%;
    color: black;
    font-size: 6vw;
    background-color: white;
  }

  .cancel {
    font-size: 2.5vw;
  }
  .setting {
    font-size: 2.5vw;
  }
}
