$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

.additional {
  display: flex;
  margin-left: 2em;
  ul {
    width: 95%;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 2vh 0;
    }
  }
  textarea {
    margin-top: 1em;
    width: 100%;
    height: 5vh;
    font-family: $sans-font;
    border-radius: 10px;
    border: 2px solid #64beb18c;
  }

  svg {
    cursor: pointer;
    margin-left: 5px;
  }
  #remove {
    &:hover {
      color: red;
    }
  }
}

@media (max-width: 1024px) {
  .additional {
    justify-content: flex-start;
    ul {
      width: 100%;
    }
    textarea {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .additional {
    justify-content: flex-start;
    ul {
      width: 100%;
    }
    textarea {
      width: 90%;
      height: 3vh;
    }
  }
}
