.leader,
.submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 1em 0;
    width: 40%;
  }

  svg {
    &:hover {
      color: #3fcdb8;
      cursor: pointer;
    }
  }
}
