.container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 2px solid #3fcdb8;
  border-radius: 16px;
  padding: 1em;
  margin-bottom: 1em;
}

.add,
.submit {
  svg {
    &:hover {
      color: #3fcdb8;
      cursor: pointer;
    }
  }
  margin: 0 auto;
  margin-bottom: 1em;
}

.none {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
