.questions {
  display: flex;
  margin-left: 2em;
  ul {
    width: 50%;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 2vh 0;
    }
  }
  p {
    margin: 5px 0;
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  input,
  select,
  option {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 1em;
  }
}

@media (max-width: 1024px) {
  .questions {
    justify-content: flex-start;
    ul {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .questions {
    justify-content: flex-start;
    ul {
      width: 100%;
    }
  }
}
