.container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.add,
.submit {
  svg {
    &:hover {
      color: #3fcdb8;
      cursor: pointer;
    }
  }
  margin: 0 auto;
  margin-bottom: 1em;
}

.none {
  display: none;
}
