$sans-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1em;
  width: 20%;
  border-radius: 6px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  top: 60px;
  margin-left: -50px;
  max-height: 90vh;
  overflow-y: auto;
  hr {
    width: 90%;
    border-top: 0.1px dashed #f2f2f2;
  }
}

.container::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
  width: 8px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #64beb18c;
  border-radius: 16px;
}

.rect {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  top: 53px;
  transform: rotate(45deg);
}

.alarms {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 5px;
  p {
    font-family: $sans-font;
    font-size: 90%;
    margin: 0;
  }
}

.description {
  border-bottom: 1px solid #cacacabd;
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: #eeeeee94;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  svg {
    &:hover {
      color: rgb(212, 67, 67);
    }
  }
  p {
    font-weight: bold;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  svg {
    margin: 0;
    &:hover {
      color: rgb(233, 49, 3);
    }
  }
}

.leftAlarms {
  font-size: 90%;
  margin-top: 5px;
  span {
    cursor: pointer;
    font-family: $sans-font;
    &:hover {
      font-weight: bold;
      border-bottom: 1px solid;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .rect {
    top: 105px;
  }
  .container {
    width: 100%;
    top: 110px;
    right: 0;
  }
  .leftAlarms {
    font-size: 70%;
  }
  .alarms {
    p {
      font-size: 70%;
    }
  }
  #big {
    font-size: 80%;
  }
}
