$sans-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1em;
  margin-left: -7em;
  padding: 0.8rem;
  width: 14.5vw;
  border-radius: 6px;
  box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(249, 252, 251);
  hr {
    width: 90%;
    border-top: 0.1px dashed #f2f2f2;
  }
}
.alarms {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 5px;
  p {
    font-family: $sans-font;
    font-size: 60%;
    margin: 0;
  }
}

.delAlarm {
  text-align: left;
  padding-left: 5px;
  svg {
    margin: 0;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
      color: rgb(233, 49, 3);
    }
  }
}

.description {
  border-bottom: 1px solid #cacacabd;
  cursor: pointer;
  padding: 0 5px 5px 5px;
  &:hover {
    background-color: #eeeeee94;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  svg {
    margin: 0;
    &:hover {
      color: rgb(233, 49, 3);
    }
  }
}

.leftAlarms {
  font-size: 70%;
  margin-top: 5px;
  span {
    cursor: pointer;
    font-family: $sans-font;
    &:hover {
      font-weight: bold;
      border-bottom: 1px solid;
    }
  }
}

#big {
  font-size: 70%;
  font-weight: bold;
  text-align: left;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .container {
    position: fixed;
  }
}
