.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #c9eee8;
  width: 80%;
  margin: 0 auto;
  padding: 19.2px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 35px;
  svg {
    color: #ffc949;
    height: 30px;
    width: 30px;
    cursor: pointer;
    &:hover {
      height: 35px;
      width: 35px;
    }
  }
}
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1em;
  padding-bottom: 2em;
  input {
    padding-left: 10px;
    width: 70%;
    height: 3em;
    border-radius: 16px;
    border: 2px solid #64beb18c;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 4em;
    margin-left: 1em;
    height: 3em;
    border-radius: 3px;
    cursor: pointer;
    font-weight: lighter;
    background-color: #64beb18c;
    border: none;
    &:hover {
      background-color: #3fcdb8;
    }
  }
}

@media (max-width: 767px) {
  .write {
    width: 100%;
    padding: 0;
  }
  .star {
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .comment {
    input {
      height: 1.5em;
    }
    button {
      height: 2em;
      width: 3em;
      svg {
        height: 100%;
      }
    }
  }
}
