@import '../Manager/Members.module.scss';

.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #c9eee8;
  width: 80%;
  padding: 1em;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 35px;
  svg {
    color: #ffc949;
    height: 30px;
    width: 30px;
    cursor: pointer;
    &:hover {
      height: 35px;
      width: 35px;
    }
  }
}
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1em;
  margin-left: 3em;
  padding-bottom: 2em;
  input {
    padding-left: 10px;
    width: 70%;
    height: 3em;
    border-radius: 16px;
    border: 2px solid #c9eee8;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-left: 1em;
  }
}

@media (max-width: 768px) {
  .write {
    width: 100%;
    padding: 0;
  }
  .star {
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .comment {
    input {
      height: 1.5em;
    }
    button {
      padding: 5px 1px;
    }
  }
}
