.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #c9eee8;
  width: 60%;
  margin: 0 auto;
  padding: 19.2px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  svg {
    color: #ffc949;
    height: 30px;
    width: 30px;
  }
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1em;
  padding-bottom: 2em;
  input {
    width: 70%;
    height: 3em;
    border-radius: 16px;
    border: 2px solid #3fcdb8;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-left: 1em;
    height: 3em;
    border-radius: 3px;
    cursor: pointer;
    font-weight: lighter;
    background-color: #c9eee8;
    border: none;
    &:hover {
      background-color: #3fcdb8;
    }
  }
}
