.mine {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  border: 2px solid #3fcdb8;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
}

.star {
  color: #ffc949;
}
.update {
  display: flex;
  justify-content: center;
  svg {
    margin: 0 5px;
    cursor: pointer;
    color: black;
    &:hover {
      color: red;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 20%;
    height: 100%;
  }
  padding-bottom: 1em;
  border-bottom: 1px solid #c9eee8;
}
.club {
  display: flex;
  span {
    margin-top: 0.5em;
  }
}

#date {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  p {
    margin-left: 3px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 80%;
  }
}

.review {
  margin-top: 1.5em;
  p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 85%;
  }
}

@media (max-width: 1024px) {
  .mine {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mine {
    width: 100%;
    padding: 1em 0;
    p {
      margin-left: 10px;
    }
  }
  .star {
    display: flex;
    svg {
      width: 10px;
    }
  }
}
