.reviewAll {
  width: 65%;
  height: 400px;
  float: right;
  margin-top: 5vh;
  margin-right: 3vw;
  border: 0.5px solid gray;
}
.reviewHeader {
  display: flex;
  border: 0.5px solid gray;
}
.avrScore {
  margin-left: 5vw;
}
.avrStar {
  margin-top: 6.5vh;
  margin-left: 15vw;
  color: #fec200;
}
.reviewBody {
  margin-top: 30px;
}
.reviewClub {
  font-size: 14px;
  margin-left: 1vw;
}
.reviewAdd {
  font-size: 0.2vw;
  width: 8vw;
  height: 5vh;
  margin-left: 54vw;
}
.reviewer {
  display: flex;
  flex-direction: column;
  font-size: 0.5vw;
  margin-top: 20px;
  border: 0.5px solid gray;
  padding: 1rem;
}
.reviewDes {
  margin-top: 8px;
}
.authorStar {
  color: #fec200;
}
.reviewDay {
  padding-left: 54vw;
  margin-bottom: -5px;
  color: gray;
}
