.list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  border: 2px solid #64beb18c;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
}

.star {
  color: #ffc949;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  padding-bottom: 0.5em;
  border-bottom: 1px solid #c9eee8;
}

.club {
  display: flex;
  width: 50%;
  svg {
    color: rgb(187, 187, 187);
    width: 15%;
    height: 15%;
  }
  span {
    width: 100%;
  }
  p {
    margin: 0;
  }
}

#date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1em;
  span {
    font-family: 'twayair';
  }
  p {
    font-size: 80%;
  }
}

.review {
  margin-top: 1.5em;
  p {
    word-break: break-all;
    margin: 0;
    font-size: 85%;
  }
}

@media (max-width: 768px) {
  .list {
    width: 90%;
    padding: 10px;
    p,
    #date {
      font-size: 90%;
    }
  }
  .star {
    display: flex;
    svg {
      width: 10px;
    }
  }
  .club {
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .review {
    margin-top: 0.5em;
    padding: 10px 0;
  }
}
