.mine {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  p {
    margin: 0.5em 0;
  }
  border-bottom: 1px solid rgba(97, 97, 97, 0.575);
  padding: 2em 0;
}

.star {
  color: #ffc949;
}
.update {
  display: flex;
  align-items: center;
  margin-left: 1em;
  height: 30%;
  margin-top: 1vh;

  svg {
    margin: 0 5px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 20%;
  }
}
.club {
  display: flex;
  span {
    margin-top: 0.5em;
  }
}
