.calendar {
  width: 50vw;
  height: 50vh;
  border: solid 1px #90E2D6;
  border-radius: 7%;
  z-index: 999;
} 

.control {
  display: flex;
  justify-content: center;
}

.addBtn {
  // justify-content: flex-end;
  float: right;
  position: relative;
  bottom: 4vh;
}

.today {
  color: red;
}

.otherday {
  color: rgb(196, 196, 196);
}

.days {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 0.8vw;
} 

.dayblock {
  width: 5vw;
  height: 5vh;
  background-color: white;
  span {
    display: flex;
  }
}