.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -1.6%;
  .right {
    background-color: rgba(249, 249, 249, 0.658);
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 100%;
    // overflow: hidden;
  }
}
