.wrap {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 9999;

  .modal {
    border-radius: 12px;
    background-color: white;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .header {
      display: flex;
      justify-content: center;
      h3 {
        font-size: 150%;
        margin-top: 0%;
      }
    }

    .closeBtn {
      position: absolute;
      top: 5%;
      right: 2%;
      font-size: 30px;
      color: white;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .body {
      margin-left: 2%;

      .titleInput {
        width: 20vw;
        height: 2.5em;
      }
      .choiceColor {
        margin-bottom: 2%;
      }
    }
  }

  .colorBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 4px;
    border: 1px solid white;
  }

  .addBtn {
    border: 2px solid #f2f2f2;
    padding: 0.5rem 1em;
    margin-top: 4em;
    float: right;
    cursor: pointer;
    background-color: #fcf5c4;
    border-radius: 8px;
    &:hover {
      filter: brightness(97%);
    }
  }
}
@media (max-width: 1024px) {
  .wrap {
    .modal {
      width: 45vw;
      padding: 2rem 1rem;
      .body {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    .modal {
      .body {
        .titleInput {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .wrap {
    .modal {
      width: 60vw;
    }
  }
}

@media (max-width: 350px) {
  .wrap {
    .modal {
      height: 73%;
    }
    .addBtn {
      margin-top: 13px;
    }
  }
}
