.wrap {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 999;

  .modal {
    border-radius: 12px;
    background-color: white;
    width: 25vw;
    padding: 2rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }

  .header {
    display: flex;
    justify-content: center;

    h3 {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-top: 0;
    }
  }

  .closeBtn {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 30px;
    color: white;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    .des {
      padding: 1.5rem 0rem;
      border-bottom: 1px solid #c2c2c269;
    }
    .edit {
      float: right;
    }
  }

  .delete {
    color: rgb(179, 179, 179);
    cursor: pointer;
    zoom: 1.15;
    margin-right: 8px;
    &:hover {
      color: red;
    }
  }

  .pencil {
    color: rgb(179, 179, 179);
    cursor: pointer;
    zoom: 1.15;
    margin-right: 8px;
    &:hover {
      color: black;
    }
  }

  .outLineStar {
    color: gray;
    cursor: pointer;
    zoom: 2;
    margin-bottom: -5px;
    margin-right: 5px;
    &:hover {
      color: rgb(255, 217, 0);
    }
  }

  .fillStar {
    color: rgb(255, 217, 0);
    zoom: 2;
    margin-bottom: -5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.des {
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media (max-width: 1024px) {
  .wrap {
    .modal {
      width: 50vw;
    }
  }
}

@media (max-width: 480px) {
  .wrap {
    .outLineStar {
      margin-right: 0;
      font-size: small;
    }
    .fillStar {
      margin-right: 0;
      font-size: x-small;
    }
    .pencil {
      font-size: small;
    }
    .delete {
      font-size: small;
    }
    .modal {
      width: 60vw;
      span {
        font-size: x-small;
      }
    }
  }
}
