.wrap {
  background-color: rgba(#616161, 0.9);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 9999;

  .modal {
    border-radius: 3%;
    background-color: white;
    width: 25vw;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    padding: 1rem;

    .header {
      display: flex;
      justify-content: center;
    }

    .closeBtn {
      position: absolute;
      top: 5%;
      right: 2%;
      font-size: 30px;
      color: white;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
    .body {
      margin-left: 2%;
      margin-bottom: 2%;
      .titleInput {
        width: 20vw;
        height: 2.5em;
      }
    }
  }

  .modifyBtn {
    border: 2px solid lightgray;
    padding: 0.3em;
    margin: 1em 1.5em;
    float: right;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    &:hover {
      filter: brightness(97%);
    }
  }
}
.colorBtn {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1em;
  border-radius: 50%;
  margin: 0 4px;
  margin-bottom: 1rem;
  border: 1px solid white;
}
.btnContainer {
  button {
    float: right;
  }
}

@media (max-width: 1024px) {
  .wrap {
    .modal {
      width: 45vw;
      padding: 2rem 1rem;
      .body {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    .modal {
      .body {
        .titleInput {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .wrap {
    .modal {
      width: 60vw;
    }
  }
}

@media (max-width: 350px) {
  .wrap {
    .modal {
      height: 75%;
      width: 80%;
      padding-top: 0;
      .closeBtn {
        top: 3%;
      }
      .body {
        width: 100%;
      }
      .modifyBtn {
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
}
