.container {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 3px 9px -5px rgba(0, 0, 0, 0.342);
  border-radius: 3px;
  width: 28.5vw;
  height: 100%;

  .todaySchedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    max-height: 40vh;
    h3 {
      font-family: twayair;
      padding: 2rem 1rem;
      margin: 0%;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
    }
    hr {
      width: 100%;
    }
    .scheduleWrap {
      overflow-y: scroll;
    }
    .scheduleWrap::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    .scheduleWrap::-webkit-scrollbar-thumb {
      background-color: #4e4e4e46;
    }
    .scheduleWrap::-webkit-scrollbar-track {
      background-color: white;
    }
    .inSchedule {
      width: 90%;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #c2c2c246;
      span {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100%;
      }
      .date {
        width: 100%;
        font-size: 85%;
        color: gray;
        padding: 0.1rem;
      }
    }
  }

  .importantSchedule {
    @extend .todaySchedule;
    h3 {
      border-top: none;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: row;
    width: 100%;
    max-height: 25%;
    .todaySchedule {
      height: 100%;
      h3 {
        border-top: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    .importantSchedule {
      width: 50%;
    }
    .todaySchedule {
      width: 50%;
      h3 {
        font-size: 5vw;
        padding: 1em 1rem;
        padding-top: 0;
      }
      .inSchedule {
        span {
          font-size: 4.5vw;
        }
        .date {
          font-size: 3.5vw;
        }
      }
    }
  }
}
