.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // margin-right: 1em;
  // border: 1px solid;
  box-shadow: 5px 3px 9px -5px rgba(0, 0, 0, 0.342);
  border-radius: 3px;
  // margin-top: ;
  width: 28.5vw;
  height: 100%;

  .todaySchedule {    
    // border: solid 1px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    height: 40%;

    // height: 50%;
    // margin-bottom: 2%;
    h3 {
      padding: 2rem 1rem;
      // margin: 2%;
      margin: 0%;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
    }
    hr {
      width: 100%;
    }
    .scheduleWrap {
      overflow: auto !important;
    }
    .inSchedule {
      width: 90%;
      // margin-top: 5%;
      // margin-bottom: 2%;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #c2c2c246;
      span {
        font-size: 120%;
      }
      .date {
        width: 100%;
        font-size: 85%;
        color: gray;
        padding: 0.1rem;
        // float: right;
       }
    }
  }
  
  .importantSchedule {
    @extend .todaySchedule;
    h3 {
      border-top: none;
    }
  }
}
