.calendar {
  width: 70vw;
  height: 50vh;
  padding: 10px;
}
.today {
  color: red;
}

.otherday {
  color: rgb(187, 183, 183);
}

.weekDays {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5%;
}

.scheduleSpan {
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.num {
  td {
    border: solid 1px #3fcdb8;
    width: 10px;
    height: 6rem;
    border-radius: 3px;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.192);
    overflow: hidden;
    .tdBlock {
      width: 100%;
      height: 100%;
      cursor: pointer;
      .date {
        margin: 2% 0 2% 1%;
        height: 20%;
      }
      .scheduleTitle {
        display: flex;
        flex-direction: column;
        width: 9.25vw;
        height: 8vh;
        margin-left: 1%;
        span {
          padding: 3px 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .calendar {
    width: 100%;
  }
  .num {
    td {
      .tdBlock {
        .scheduleTitle {
          width: 13vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    .num {
      td {
        .tdBlock {
          width: 5vw;
          .scheduleTitle {
            overflow: hidden;
            .scheduleSpan {
              width: 100vw;
              height: 15px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .wrap {
    .weekDays {
      font-size: 1vw;
    }
    .num {
      td {
        height: 3rem;
        .tdBlock {
          width: 3vw;
          .scheduleTitle {
            .scheduleSpan {
              height: 11px;
              font-size: 5px;
            }
          }
        }
      }
    }
  }
  .calendar {
    font-size: 2vw;
    padding: 1px;
  }
}
