.container {
  width: 55%;
  padding: 5em;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  min-height: 67vh;
  .profileHeader {
    z-index: 2;
    margin-top: 2%;
    width: 4.35rem;
    margin-right: -1.1rem;
    button {
      margin-top: 2px;
      height: 50px;
      background-color: white;
      border: 1px solid rgb(228, 228, 228);
      border-right: none;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 70%;
    padding: 6rem;
    padding-top: 2rem;
    padding-left: 0;
  }
  .profileHeader {
    button {
      zoom: 1.2;
      border: 1px solid lightgray;
      border-radius: 7px;
      margin-right: 2px;
      // border-right: 1px solid lightgray !important;
    }
  }

  .bottom {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem 4rem 4rem 0rem;
    flex-direction: column;
    .profileHeader {
      display: flex;
      width: 100%;
      button {
        height: 45px;
        width: 200px;
        border-right: 1px solid lightgray !important;
        border-bottom: none;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        // padding: 0rem 4rem;
      }
    }
  }
}
