.wrap {
  width: 100%;
}

.profileBody {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 2rem;
}

.message {
  cursor: pointer;
  &:hover {
    color: #90e2d6;
  }
}
.profileImg {
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.clubBtn {
  background-color: white;
  margin: 5px;
  padding: 5px 12px;
  border-radius: 0.5rem;
  border: lightgray 1px solid;
  &:hover {
    filter: brightness(95%);
  }
}

.leaveModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background: white;
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      filter: brightness(97%);
    }
  }
  * {
    margin: 5px;
  }
  span {
    color: red;
    cursor: pointer;
  }
}

.clubList {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin: 5px;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #90e2d6;
    cursor: pointer;
  }
}

.onlyMe {
  justify-content: center;
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: rgb(177, 177, 177);
    font-size: small;
    margin: 3px;
    &:hover {
      cursor: pointer;
      color: #90e2d6;
    }
  }
}

.bottom {
  * {
    font-family: twayair;
    font-size: 15px;
  }
  min-width: 11rem;
  margin-top: 4%;
  gap: 10px;
  font-size: 110%;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    margin: 5px;

    svg {
      margin-right: 6px;
    }
  }
}

@media (max-width: 768px) {
  .profileBody {
    width: 100%;
  }
  .profileImg {
    width: 180px;
    height: 180px;
  }
  .bottom {
    gap: 15px;
    margin-top: 8%;
  }
  .onlyMe {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .profileBody {
    border-top-left-radius: 0px;
  }
}
